.search-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.search-field {
  width: 50%;
}

.card-container {
  margin-bottom: 4px;
}

.article-title {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
   
.article-card {
  margin-bottom: 5px;
}
