.search-container {
    width: 80%;
    margin-bottom: 10px;
    
.form-group {
    text-align: center;
    width: 100%;
  }
}

.card-container {
  margin-bottom: 4px;
}

.article-title {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
   
