.centered {
    text-align: center;
    .mat-button {
      margin-top: 5px;
    }
}

.h2 {
  text-align: left;
}

.mat-card {
  margin-left: 30%;
}

.loading { 
  text-align: center;
  width: 100%;
}

.article-card { 
  max-width: 480px;
  
.article-content {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
  .article-link {
    margin-bottom: 5px;
  }
  .article-date {
    font-weight: bold;
  }
}
}


.mat-chip-list {
  margin-left: 1%;
}