.centered {
    text-align: center;
    .mat-button {
      margin-top: 5px;
    }
}
.article-card { 
  max-width: 480px;
}

.mat-card {
  margin-left: 30%;
}

.article-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-chip-list {
  margin-left: 1%;
}